<!DOCTYPE html>
<html>
	<head>
		<title>User List</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<h1>ユーザ一覧</h1>
		<table border="1">
			<thead>
				<tr>
					<th>NAME</th>
					<th>AGE</th>
					<th>※DELETE</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>{{ user.name }}</td>
					<td>{{ user.age }}</td>
					<td>
						<form action="/users/delete/{{ user.id }}" method="post">
							<button type="submit" class="my-btn">Delete</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2>Register User</h2>
		<form action="/users/" method="post">
			<div>
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" />
			</div>
			<br />
			<div>
				<label for="age">Age:</label>
				<input type="number" id="age" name="age" />
			</div>
			<br />
			<button type="submit" class="my-btn">Register</button>
		</form>
	</body>
</html>
